.home{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

img{
    max-width: 100%;
}

/* @import url('https://fonts.googleapis.com/css2?family=YourChosenFont&display=swap'); */

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px; /* Adjust the height according to your needs */
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.parallax-text-container h1 {
  color: #fff;
  font-size: 100px; /* Adjust the font size according to your needs */
  /* font-weight: bold; */
  font-family: "Playfair Display"; /* Replace 'YourChosenFont' with the desired font name */
}

/* Montserrat
Lato
Playfair Display
Roboto Slab
Raleway
Merriweather
Source Sans Pro
Open Sans
Poppins
Nunito */

.parallax-text-container .professional-text {
    color: #fff5f5;
    font-size: 20px; /* Adjust the font size according to your needs */
    font-weight: bold;
    margin-top: 10px; /* Adjust the spacing as desired */
  }


.explore-button{
  background-image: linear-gradient(to right, #c4a197d0, #92564bc5); 
  padding-left: 50px !important; /* Adjust the padding to increase the width */
  padding-right: 50px !important;
  color: white !important;
}

.how-it-works-section{
  font-family: komu-a,sans-serif;
  background-color: hsla( 10.6508875739645,73.79912663755458%,55.09803921568628% ,1);
  color: hsla( 46.666666666666615,90.00000000000003%,96.07843137254902% ,1);
}

.img-carousel{
  min-width: 250px !important;
  min-height: 250px !important;
}

.img-card{
  /* max-width: 600px;
  max-height: 450px; */
  /* width: 100%;
  height: 100%; */
  width: 500px;
  height: 500px;
  object-fit:cover;
}