#back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    /* padding: 10px; */
    z-index: 400;
    background-color: black;
  }

.map-container {
    position: relative;
    height: 100vh;
    width: 100%;
  }

#button-toggle-side-nav{
  position: absolute;
  z-index: 400;
  bottom: 20px;
  left: 20px;
  background-color:black
}

.sidebar {
  max-width: 450px;
  max-height: 600px;
  min-width: 260px;
  color: #868fa0;
  background-color: black;
  left: 10px;
  right: 10px;
  top: 10px;
  position: fixed;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  z-index: 500;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
}

.sidebar.active {
  transform: translateX(0);
}

.select-class{
  display: block;
}


.popup-content table {
  width: 100%;
  border-collapse: collapse;
}

.popup-content td:first-child {
  width: 30%;
  font-weight: bold;
}

.popup-content td:last-child {
  width: 70%;
  word-break: break-all;
}

.date-section{
  background-color:rgb(136, 136, 136);
}


.my-btn-class {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
}

.datepicker-modal {
  max-height: 395px !important;
  height: 100% !important;

}


button#submit-button {
  display: block;
  margin: 0 auto;
  background-color:darkcyan;
  padding-bottom: 10px;
}
/*
.tabs .tab a {
  background-color: black;
  text-decoration: none;
  color: white;
}

.tabs .tab a:hover {
  background-color: rgb(141, 141, 141);
  text-decoration: none;
  color: white;
} */

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(12, 12, 12, 0.2);
  outline: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
  /* background-color: transparent; */
  background-color: black;
  text-decoration: none;
  color: white;
}


.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  background-color: black;
  color: rgba(255, 255, 255);
  text-decoration: none;
  cursor: default;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #888888;
  will-change: left, right;
}


.tabs {
  width: 100%;
}

/* ul{
  display: flex;
} */

.collection{
  max-height: 500px;
  overflow-y: auto;

}

.collapsible{
  overflow-y: auto;
  color:black;
  background-color: #888888;
  word-wrap: break-word;
  /* background-color: aqua; */
}

.collapsible-header{
  color: #888888;
  word-wrap: break-word;
  /* wordWrap: "break-word" */
}


/* .li-collapsible{
  color:red
} */

.ul-collapsible{
  /* color:darkorange; */
  max-height: 300px;
}